DATABASE_URL="postgres://user:pass@host:port/db_name"
JWT_SECRET="gerenate-a-secure-random-string-for-jwt-secret"
JWT_EXP="24h" # 24h, 7d...

ALLOWED_IPS="localhost,127.0.0.1"
ALLOWED_CORS="localhost,127.0.0.1"

REDIS_URL="redis://:pass@host:port"

SNOWFLAKE_EPOCH='AAAA-MM-DD'
